<head>
    <meta charset="UTF-8">
    <meta name="description" content="Usefull tools for programming and live in general ">
    <meta name="keywords" content="Tools, angular">
    <meta name="author" content="Nanna Bach Munkholm">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1>My favorite tools</h1>
    </header>

    <main>
        <p>
            Basic angular 7 guide:
        </p>
        <ul>https://www.youtube.com/watch?v=5wtnKulcquA</ul>
        <ul>https://coursetro.com/posts/code/171/Angular-7-Tutorial---Learn-Angular-7-by-Example</ul>
    </main>
</body>


