<head>
  <meta charset="UTF-8">
  <meta name="description" content="How to style your site first time with CSS">
  <meta name="keywords" content="CSS">
  <meta name="author" content="Nanna Bach Munkholm">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <h1>How to setup the style for a new angular project with CSS</h1>
  </header>
  <main>
      <h3>Main struture of a page</h3>
      <p>A HTML document is made up of two main elements, the head and the body elements.<br>
        <strong>The head</strong> provides general information about the document, incl. its meta data, title and links to additional resources.<br>
        Within the head tags, other tags that provide behind-the-scene information is enclosed.<br>
        All content provided within <strong>the body</strong> tags will be displayed on the webpage.
      </p>
      <pre class="line-numbers">
          <code>
              &lt;head&gt;
              &lt;meta charset="UTF-8"&gt;
              &lt;meta name="description" content="Free Web tutorials"&gt;
              &lt;meta name="keywords" content="HTML,CSS,XML,JavaScript"&gt;
              &lt;meta name="author" content="Nanna Bach Munkholm"&gt;
              &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
              &lt;/head&gt;
      
              &lt;body&gt;
              &lt;/body&gt;
          </code>
      </pre>
      <p>
        Within the body tags we first have the header.<br>
        The header defines the top section of a webpage and normally consist of a logo/banner of the website.<br>
        Afterwards the navigation section is given with &lt;nav&gt; <br>
        The main section is afterwards enclosed by &lt;main&gt;<br>
        Last the footer element is given to define the bottom of the webpage.  
        
      </p>

      <h2>CSS Box Model</h2>
      <img src="https://mdn.mozillademos.org/files/13647/box-model-standard-small.png" height="250px"  alt="just some image">

      <table>
        <tr>
          <th>CSS code for box1</th>
          <th>CSS code for box2</th>
        </tr>
        <tr>
          <td>
              <pre class="line-numbers">
                  <code>
                    &#35;box1 	&#123;
                      margin&#58; 20px&#59;
                      padding&#58; 10px&#59;
                      border&#58; 5px solid black&#59;
                      width&#58; 200px&#59;
                      height&#58; 200px&#59;
                      text-align&#58; justify&#59;
                      float&#58; left&#59;
                      &#125;
                  </code>
              </pre>
          </td>
          <td>
            <pre class="line-numbers">
                <code>
                  &#35;box2 	&#123;
                    margin&#58; 20px&#59;
                    padding&#58; 50px&#59;
                    border&#58; 5px solid black&#59;
                    width&#58; 200px&#59;
                    height&#58; 200px&#59;
                    text-align&#58; justify&#59;
                    float&#58; left&#59;
                    &#125;
                </code>
            </pre>
          </td>
        </tr>
      </table>

      <div id="box1">Learn what margins, paddings and borders are.</div>
      <div id="box2">Learn what margins, paddings and borders are.</div>
      <p>dfjkgljlknfvlknkln<br>knskdnfkvnkbjkbdjk<br>bdsjkbvjksbjkdbvjkb jvkb<br> jkb vjk jk jk cjkjk jk jk<br>dbjkbfjnlnaskfnl<br>nflnlnlnlnlnwlnfnfdnkfclnsnfcsdn</p>

      
  </main>
</body>