<head>
    <meta charset="UTF-8">
    <meta name="description" content="Usefull tools for programming and life in general ">
    <meta name="keywords" content="Tools, angular">
    <meta name="author" content="Nanna Bach Munkholm">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <h1>Guidelines & tools for programming</h1>
    </header>

    <main>
        <button class="btn"><i class="fa fa-linkedin-square"></i> <a href="https://www.linkedin.com/in/nanna-bach-munkholm-65459b76/" style="color:#FFFFFF;"> Linkedin</a></button>

    </main>
</body>
