<head>
    <title>Dictionary for programming</title>
    <meta name="keywords" content="programming Dictionary, HTML, CSS">
  </head>
  
  <body>
    <header>
        <h1>Dictionary for programming</h1>
    </header>
  
    <main>
      <dl class="row">
        <dt class="col-sm-3">CSS</dt>
        <dd class="col-sm-9">Cascading Stylesheet - used for styling and designing a webpage.</dd>
        <dt class="col-sm-3">HTML</dt>
        <dd class="col-sm-9">Hypertext Markup Language - is concerned with the content and structure of the website.</dd>
      </dl>
  
      <h2>HTML</h2>
      <dl class="row">
        <dt class="col-sm-3">Tags</dt>
        <dd class="col-sm-9">Tags are angle brackets with a single word enclosed inside, where each tag has a specific meaning. Most tags in HTML have a correspnoding end tag.</dd>
        <dt class="col-sm-3">&lt;img&gt;</dt>
        <dd class="col-sm-9">Used to add images to a page. Example: &lt;img src="someimg.jpg" height="100px" width="100px" alt="just some image"&gt;</dd>
        <dt class="col-sm-3">&lt;meta&gt;</dt>
        <dd class="col-sm-9">The meta tag is used to provide keywords and descriptions for search engines. Example: &lt;meta name="keywords" content="HTML, CSS"&gt; or &lt;meta name="description" content="This is my first website."&gt;</dd>
        <dt class="col-sm-3">&lt;p&gt;</dt>
        <dd class="col-sm-9">Paragraph tag is used to add text to a page.</dd>
        <dt class="col-sm-3">&lt;a&gt;</dt>
        <dd class="col-sm-9">Is used to insert a hyperlink. Example: &lt;a href="http://www.google.com"&gt;Click here to go to Google &lt;/a&gt;</dd>
        <dt class="col-sm-3">&lt;ol&gt; and &lt;li&gt;</dt>
        <dd class="col-sm-9">Is an ordered list and is used to create a list with numbers or alphabets as list markers. Example: <br>&lt;ol&gt;<br>&lt;li&gt;Chocolate&lt;/li&gt;<br>&lt;/ol&gt;</dd>
        <dt class="col-sm-3">&lt;ul&gt; and &lt;li&gt;</dt>
        <dd class="col-sm-9">Is an unordered list that use other shapes a dots or hollow circle.</dd>
        <dt class="col-sm-3">&lt;table&gt;, &lt;tr&gt;, &lt;th&gt;, &lt;td&gt;</dt>
        <dd class="col-sm-9">Is used to create tables, which is created row by row. &lt;tr&gt;="Table row", &lt;th&gt;="Table Header", &lt;td&gt;="Table Data",.</dd>
        <dt class="col-sm-3">&lt;div&gt;</dt>
        <dd class="col-sm-9">Division is used to define a division or a section. It is normally used together with CSS to format the content.</dd>
        <dt class="col-sm-3">&lt;span&gt;</dt>
        <dd class="col-sm-9">Span is similar to div, but the main difference is taht div is a block element, while span is an inline element. Is used to wrap small portions of text, images etc.</dd>
        <dt class="col-sm-3">Block element</dt>
        <dd class="col-sm-9">Is one that starts and ends with a new line break.</dd>
        <dt class="col-sm-3">Inline element</dt>
        <dd class="col-sm-9">Is one that does not starts and ends with a inline break.</dd>
        <dt class="col-sm-3">&lt;script&gt;</dt>
        <dd class="col-sm-9">The script tag is used to add internal Javascript code to our HTML document or to link to an external script.</dd>
        <dt class="col-sm-3">&lt;strong&gt;</dt>
        <dd class="col-sm-9">Make the text <strong>bold</strong>.</dd>
        <dt class="col-sm-3">&lt;em&gt;</dt>
        <dd class="col-sm-9">Displayes the text in <em>italics</em>.</dd>
        <dt class="col-sm-3">Make a comment</dt>
        <dd class="col-sm-9">&lt;!--and--&gt;.</dd>
        <dt class="col-sm-3">Entity name</dt>
        <dd class="col-sm-9">A way of writing characters as &gt;, it always starts with a & and end with a simi-colon (;). <a href="https://www.freeformatter.com/html-entities.html">List of html-entities </a></dd>
        <dt class="col-sm-3">Shortcut for colors</dt>
        <dd class="col-sm-9"><a href="https://www.w3schools.com/cssref/css_colors.asp">List of colors </a></dd>
        <dt class="col-sm-3">Write extra space</dt>
        <dd class="col-sm-9">&nbsp; & n b s p ;.</dd>
      </dl>
        
      <h2>CSS</h2>
      <dl class="row">
        <dt class="col-sm-3">CSS</dt>
        <dd class="col-sm-9">Cascading Stylesheet - used for styling and designing a webpage.</dd>
        <dt class="col-sm-3">HTML</dt>
        <dd class="col-sm-9">Hypertext Markup Language - is concerned with the content and structure of the website.</dd>
        <dt class="col-sm-3">border-style</dt>
        <dd class="col-sm-9">Acceptable values are none, dotted, dashed, solid, double, groove, ridge, inset and outset.</dd>
        <dt class="col-sm-3">border-radius</dt>
        <dd class="col-sm-9">Is used to create borders with rounded corners, is given in pixel or percentage.</dd>
        <dt class="col-sm-3">border shorthand</dt>
        <dd class="col-sm-9">Specify border width, style and color in one line. Example border: 5px solid green;</dd>
      </dl>
    </main>
    <footer></footer>
  </body>
